USE [master]
GO
/****** Object:  Database [EsemkaVoteAPI]    Script Date: 3/28/2026 3:28:48 PM ******/
CREATE DATABASE [EsemkaVoteAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsemkaVoteAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EsemkaVoteAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsemkaVoteAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EsemkaVoteAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsemkaVoteAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsemkaVoteAPI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/28/2026 3:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/28/2026 3:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[photo] [nvarchar](max) NOT NULL,
	[division] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingCandidates]    Script Date: 3/28/2026 3:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingCandidates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[votingHeaderId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
 CONSTRAINT [PK_VotingCandidates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingDetails]    Script Date: 3/28/2026 3:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[votingCandidateId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
 CONSTRAINT [PK_VotingDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingHeaders]    Script Date: 3/28/2026 3:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingHeaders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
 CONSTRAINT [PK_VotingHeaders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260328054307_Initialize Migration', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [name], [email], [password], [photo], [division]) VALUES (2, N'John Doe', N'johndoe@gmail.com', N'1234', N'vote.jpg', N'Marketing')
INSERT [dbo].[Employees] ([id], [name], [email], [password], [photo], [division]) VALUES (5, N'Nur Siti ', N'nursiti@gmail.com', N'1234', N'vote2.jpg', N'Information Technology')
INSERT [dbo].[Employees] ([id], [name], [email], [password], [photo], [division]) VALUES (7, N'Emily', N'emily@gmail.com', N'1234', N'Emily.jpg', N'Production')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingCandidates] ON 

INSERT [dbo].[VotingCandidates] ([id], [votingHeaderId], [employeeId]) VALUES (4, 1, 2)
INSERT [dbo].[VotingCandidates] ([id], [votingHeaderId], [employeeId]) VALUES (10, 1, 5)
INSERT [dbo].[VotingCandidates] ([id], [votingHeaderId], [employeeId]) VALUES (11, 1, 7)
SET IDENTITY_INSERT [dbo].[VotingCandidates] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingDetails] ON 

INSERT [dbo].[VotingDetails] ([id], [votingCandidateId], [employeeId]) VALUES (1, 4, 2)
INSERT [dbo].[VotingDetails] ([id], [votingCandidateId], [employeeId]) VALUES (2, 4, 5)
INSERT [dbo].[VotingDetails] ([id], [votingCandidateId], [employeeId]) VALUES (3, 4, 7)
SET IDENTITY_INSERT [dbo].[VotingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingHeaders] ON 

INSERT [dbo].[VotingHeaders] ([id], [name], [description], [startDate], [endDate]) VALUES (1, N'Best Employee 2022', N'Welcome to the Employee of the Year 2022 voting! Celebrate outstanding dedication and achievement by casting your vote for the most deserving nominee.', CAST(N'2022-01-01' AS Date), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[VotingHeaders] ([id], [name], [description], [startDate], [endDate]) VALUES (2, N'Best Employee 2023', N'Welcome to the Employee of the Year 2023 voting! Celebrate outstanding dedication and achievement by casting your vote for the most deserving nominee.', CAST(N'2023-01-01' AS Date), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[VotingHeaders] ([id], [name], [description], [startDate], [endDate]) VALUES (3, N'Best Employee 2024', N'Welcome to the Employee of the Year 2024 voting! Celebrate outstanding dedication and achievement by casting your vote for the most deserving nominee.', CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[VotingHeaders] OFF
GO
/****** Object:  Index [IX_VotingCandidates_employeeId]    Script Date: 3/28/2026 3:28:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_VotingCandidates_employeeId] ON [dbo].[VotingCandidates]
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VotingCandidates_votingHeaderId]    Script Date: 3/28/2026 3:28:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_VotingCandidates_votingHeaderId] ON [dbo].[VotingCandidates]
(
	[votingHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VotingDetails_employeeId]    Script Date: 3/28/2026 3:28:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_VotingDetails_employeeId] ON [dbo].[VotingDetails]
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VotingDetails_votingCandidateId]    Script Date: 3/28/2026 3:28:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_VotingDetails_votingCandidateId] ON [dbo].[VotingDetails]
(
	[votingCandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VotingCandidates]  WITH CHECK ADD  CONSTRAINT [FK_VotingCandidates_Employees_employeeId] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[VotingCandidates] CHECK CONSTRAINT [FK_VotingCandidates_Employees_employeeId]
GO
ALTER TABLE [dbo].[VotingCandidates]  WITH CHECK ADD  CONSTRAINT [FK_VotingCandidates_VotingHeaders_votingHeaderId] FOREIGN KEY([votingHeaderId])
REFERENCES [dbo].[VotingHeaders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VotingCandidates] CHECK CONSTRAINT [FK_VotingCandidates_VotingHeaders_votingHeaderId]
GO
ALTER TABLE [dbo].[VotingDetails]  WITH CHECK ADD  CONSTRAINT [FK_VotingDetails_Employees_employeeId] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[VotingDetails] CHECK CONSTRAINT [FK_VotingDetails_Employees_employeeId]
GO
ALTER TABLE [dbo].[VotingDetails]  WITH CHECK ADD  CONSTRAINT [FK_VotingDetails_VotingCandidates_votingCandidateId] FOREIGN KEY([votingCandidateId])
REFERENCES [dbo].[VotingCandidates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VotingDetails] CHECK CONSTRAINT [FK_VotingDetails_VotingCandidates_votingCandidateId]
GO
USE [master]
GO
